--
-- PostgreSQL database dump
--

\restrict TyJxFTSFkcelx7jL6aO0LgLNyi4cmuMDiCft1GibJDVzmfJULecGgLLFl1AhGgu

-- Dumped from database version 18.1
-- Dumped by pg_dump version 18.1

SET statement_timeout = 0;
SET lock_timeout = 0;
SET idle_in_transaction_session_timeout = 0;
SET transaction_timeout = 0;
SET client_encoding = 'UTF8';
SET standard_conforming_strings = on;
SELECT pg_catalog.set_config('search_path', '', false);
SET check_function_bodies = false;
SET xmloption = content;
SET client_min_messages = warning;
SET row_security = off;

--
-- Name: pgcrypto; Type: EXTENSION; Schema: -; Owner: -
--

CREATE EXTENSION IF NOT EXISTS pgcrypto WITH SCHEMA public;


--
-- Name: EXTENSION pgcrypto; Type: COMMENT; Schema: -; Owner: 
--

COMMENT ON EXTENSION pgcrypto IS 'cryptographic functions';


SET default_tablespace = '';

SET default_table_access_method = heap;

--
-- Name: addresses; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.addresses (
    address_id uuid DEFAULT gen_random_uuid() CONSTRAINT addresses_address_id_not_null1 NOT NULL,
    customer_id uuid,
    full_name character varying(255),
    phone character varying(20),
    address_line_1 text,
    address_line_2 text,
    city character varying(100),
    state character varying(100),
    pincode character varying(20),
    country character varying(100) DEFAULT 'India'::character varying,
    address_type character varying(50),
    is_default boolean DEFAULT false,
    deleted_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.addresses OWNER TO postgres;

--
-- Name: admins; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.admins (
    admin_id uuid DEFAULT gen_random_uuid() CONSTRAINT admins_admin_id_not_null1 NOT NULL,
    name character varying(255) CONSTRAINT admins_name_not_null1 NOT NULL,
    email character varying(255) CONSTRAINT admins_email_not_null1 NOT NULL,
    password_hash text CONSTRAINT admins_password_hash_not_null1 NOT NULL,
    role character varying(50) DEFAULT 'admin'::character varying,
    permissions jsonb,
    is_active boolean DEFAULT true,
    last_login_at timestamp without time zone,
    created_by_admin_id uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.admins OWNER TO postgres;

--
-- Name: annual_finances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.annual_finances (
    annual_finance_id uuid DEFAULT gen_random_uuid() NOT NULL,
    half_yearly_finance_id uuid,
    seller_id uuid,
    year integer NOT NULL,
    total_revenue numeric(15,2) DEFAULT 0,
    platform_commission numeric(15,2) DEFAULT 0,
    net_seller_earnings numeric(15,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.annual_finances OWNER TO postgres;

--
-- Name: audit_logs; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.audit_logs (
    audit_id uuid DEFAULT gen_random_uuid() CONSTRAINT audit_logs_audit_id_not_null1 NOT NULL,
    admin_id uuid,
    table_name character varying(100) CONSTRAINT audit_logs_table_name_not_null1 NOT NULL,
    record_id character varying(100) CONSTRAINT audit_logs_record_id_not_null1 NOT NULL,
    action character varying(50) CONSTRAINT audit_logs_action_not_null1 NOT NULL,
    old_values jsonb,
    new_values jsonb,
    ip_address character varying(45),
    user_agent text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.audit_logs OWNER TO postgres;

--
-- Name: auth_sessions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.auth_sessions (
    session_id uuid DEFAULT gen_random_uuid() CONSTRAINT auth_sessions_session_id_not_null1 NOT NULL,
    user_type character varying(50) CONSTRAINT auth_sessions_user_type_not_null1 NOT NULL,
    user_ref_id uuid CONSTRAINT auth_sessions_user_ref_id_not_null1 NOT NULL,
    token_hash character varying(64) CONSTRAINT auth_sessions_token_hash_not_null1 NOT NULL,
    device_info text,
    ip_address character varying(45),
    is_blacklisted boolean DEFAULT false,
    expires_at timestamp without time zone CONSTRAINT auth_sessions_expires_at_not_null1 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.auth_sessions OWNER TO postgres;

--
-- Name: bank_account; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.bank_account (
    bank_account_id uuid DEFAULT gen_random_uuid() CONSTRAINT bank_account_bank_account_id_not_null1 NOT NULL,
    owner_id uuid CONSTRAINT bank_account_owner_id_not_null1 NOT NULL,
    owner_type character varying(50) CONSTRAINT bank_account_owner_type_not_null1 NOT NULL,
    account_number character varying(50) CONSTRAINT bank_account_account_number_not_null1 NOT NULL,
    account_holder_name character varying(255) CONSTRAINT bank_account_account_holder_name_not_null1 NOT NULL,
    upi_id character varying(100),
    bank_name character varying(100),
    ifsc_code character varying(20),
    account_type character varying(50),
    verification_status character varying(50) DEFAULT 'Pending'::character varying,
    verified_at timestamp without time zone,
    is_active boolean DEFAULT true,
    is_primary boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    verified_by_admin_id uuid
);


ALTER TABLE public.bank_account OWNER TO postgres;

--
-- Name: cart_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.cart_items (
    cart_item_id uuid DEFAULT gen_random_uuid() NOT NULL,
    cart_id uuid,
    product_id uuid,
    variant_id uuid,
    quantity integer DEFAULT 1 NOT NULL,
    price numeric(15,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    size character varying(50)
);


ALTER TABLE public.cart_items OWNER TO postgres;

--
-- Name: carts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.carts (
    cart_id uuid DEFAULT gen_random_uuid() CONSTRAINT carts_cart_id_not_null1 NOT NULL,
    customer_id uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.carts OWNER TO postgres;

--
-- Name: categories; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.categories (
    category_id uuid DEFAULT gen_random_uuid() CONSTRAINT categories_category_id_not_null1 NOT NULL,
    admin_id uuid,
    parent_category_id uuid,
    name character varying(255) CONSTRAINT categories_name_not_null1 NOT NULL,
    slug character varying(255) CONSTRAINT categories_slug_not_null1 NOT NULL,
    image_url text,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.categories OWNER TO postgres;

--
-- Name: coupon_usage; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coupon_usage (
    usage_id uuid DEFAULT gen_random_uuid() CONSTRAINT coupon_usage_usage_id_not_null1 NOT NULL,
    coupon_id uuid,
    customer_id uuid,
    order_id uuid,
    used_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.coupon_usage OWNER TO postgres;

--
-- Name: coupons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.coupons (
    coupon_id uuid DEFAULT gen_random_uuid() CONSTRAINT coupons_coupon_id_not_null1 NOT NULL,
    admin_id uuid,
    code character varying(50) CONSTRAINT coupons_code_not_null1 NOT NULL,
    type character varying(20),
    discount_percent numeric(5,2),
    max_discount numeric(15,2),
    min_order_value numeric(15,2),
    used_count integer DEFAULT 0,
    max_usage integer,
    is_active boolean DEFAULT true,
    valid_until date,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.coupons OWNER TO postgres;

--
-- Name: customers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.customers (
    customer_id uuid DEFAULT gen_random_uuid() CONSTRAINT customers_customer_id_not_null1 NOT NULL,
    product_id uuid,
    full_name character varying(255) CONSTRAINT customers_full_name_not_null1 NOT NULL,
    email character varying(255) CONSTRAINT customers_email_not_null1 NOT NULL,
    phone character varying(20),
    password_hash text CONSTRAINT customers_password_hash_not_null1 NOT NULL,
    date_of_birth date,
    gender character varying(20),
    profile_picture_url text,
    is_active boolean DEFAULT true,
    is_email_verified boolean DEFAULT false,
    is_phone_verified boolean DEFAULT false,
    deleted_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.customers OWNER TO postgres;

--
-- Name: daily_finances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.daily_finances (
    daily_finance_id uuid DEFAULT gen_random_uuid() NOT NULL,
    seller_id uuid,
    date date NOT NULL,
    weekly_finance_id uuid,
    monthly_finance_id uuid,
    total_revenue numeric(15,2) DEFAULT 0,
    platform_commission numeric(15,2) DEFAULT 0,
    net_seller_earnings numeric(15,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.daily_finances OWNER TO postgres;

--
-- Name: deliveries; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.deliveries (
    delivery_id uuid DEFAULT gen_random_uuid() CONSTRAINT deliveries_delivery_id_not_null1 NOT NULL,
    order_id uuid,
    order_item_id uuid,
    seller_id uuid,
    address_id uuid,
    pickup_location_id uuid,
    processed_webhook_id uuid,
    shipping_address_snapshot jsonb,
    shiprocket_order_id character varying(100),
    shipment_id character varying(100),
    awb_code character varying(100),
    courier_name character varying(100),
    shipping_status character varying(100),
    estimated_delivery_date date,
    dispatched_at timestamp without time zone,
    delivered_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.deliveries OWNER TO postgres;

--
-- Name: finance_transactions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.finance_transactions (
    finance_transaction_id uuid DEFAULT gen_random_uuid() NOT NULL,
    daily_finance_id uuid,
    order_id uuid,
    payment_id uuid,
    seller_payout_id uuid,
    transaction_type character varying(50) NOT NULL,
    amount numeric(15,2) NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.finance_transactions OWNER TO postgres;

--
-- Name: half_yearly_finances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.half_yearly_finances (
    half_yearly_finances_id uuid DEFAULT gen_random_uuid() NOT NULL,
    seller_id uuid,
    half_number integer NOT NULL,
    year integer NOT NULL,
    annual_finance_id uuid,
    total_revenue numeric(15,2) DEFAULT 0,
    platform_commission numeric(15,2) DEFAULT 0,
    net_seller_earnings numeric(15,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.half_yearly_finances OWNER TO postgres;

--
-- Name: monthly_finances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.monthly_finances (
    monthly_finance_id uuid DEFAULT gen_random_uuid() NOT NULL,
    seller_id uuid,
    month_number integer NOT NULL,
    year integer NOT NULL,
    quarterly_finance_id uuid,
    total_revenue numeric(15,2) DEFAULT 0,
    platform_commission numeric(15,2) DEFAULT 0,
    net_seller_earnings numeric(15,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.monthly_finances OWNER TO postgres;

--
-- Name: notifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.notifications (
    notification_id uuid DEFAULT gen_random_uuid() CONSTRAINT notifications_notification_id_not_null1 NOT NULL,
    customer_id uuid,
    seller_id uuid,
    order_id uuid,
    type character varying(50),
    message text,
    is_read boolean DEFAULT false,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    expires_at timestamp without time zone
);


ALTER TABLE public.notifications OWNER TO postgres;

--
-- Name: order_coupons; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_coupons (
    order_coupon_id uuid DEFAULT gen_random_uuid() CONSTRAINT order_coupons_order_coupon_id_not_null1 NOT NULL,
    order_id uuid,
    coupon_id uuid,
    discount_amount numeric(15,2),
    applied_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_coupons OWNER TO postgres;

--
-- Name: order_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_items (
    order_item_id uuid DEFAULT gen_random_uuid() NOT NULL,
    order_id uuid,
    product_id uuid,
    seller_id uuid,
    variant_id uuid,
    quantity integer NOT NULL,
    unit_price numeric(15,2) NOT NULL,
    total_price numeric(15,2) NOT NULL,
    item_status character varying(50) DEFAULT 'Confirmed'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_items OWNER TO postgres;

--
-- Name: order_sellers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_sellers (
    order_seller_id uuid DEFAULT gen_random_uuid() CONSTRAINT order_sellers_order_seller_id_not_null1 NOT NULL,
    order_id uuid,
    seller_id uuid,
    seller_subtotal numeric(15,2),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_sellers OWNER TO postgres;

--
-- Name: order_status_history; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.order_status_history (
    history_id uuid DEFAULT gen_random_uuid() CONSTRAINT order_status_history_history_id_not_null1 NOT NULL,
    order_id uuid,
    status character varying(100) CONSTRAINT order_status_history_status_not_null1 NOT NULL,
    changed_by character varying(100),
    notes text,
    changed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.order_status_history OWNER TO postgres;

--
-- Name: orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.orders (
    order_id uuid DEFAULT gen_random_uuid() CONSTRAINT orders_order_id_not_null1 NOT NULL,
    customer_id uuid,
    address_id uuid,
    coupon_id uuid,
    subtotal numeric(15,2) NOT NULL,
    discount_amount numeric(15,2) DEFAULT 0,
    tax_amount numeric(15,2) DEFAULT 0,
    shipping_charge numeric(15,2) DEFAULT 0,
    total_amount numeric(15,2) NOT NULL,
    order_status character varying(50) DEFAULT 'Pending'::character varying,
    payment_status character varying(50) DEFAULT 'Pending'::character varying,
    cancellation_reason text,
    is_deleted boolean DEFAULT false,
    placed_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.orders OWNER TO postgres;

--
-- Name: otp_verifications; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.otp_verifications (
    otp_id uuid DEFAULT gen_random_uuid() CONSTRAINT otp_verifications_otp_id_not_null1 NOT NULL,
    user_type character varying(50),
    user_ref_id uuid,
    contact character varying(64) CONSTRAINT otp_verifications_contact_not_null1 NOT NULL,
    otp_hash character varying(64) CONSTRAINT otp_verifications_otp_hash_not_null1 NOT NULL,
    purpose character varying(50),
    attempts integer DEFAULT 0,
    is_used boolean DEFAULT false,
    expires_at timestamp without time zone CONSTRAINT otp_verifications_expires_at_not_null1 NOT NULL,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.otp_verifications OWNER TO postgres;

--
-- Name: payments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.payments (
    payment_id uuid DEFAULT gen_random_uuid() CONSTRAINT payments_payment_id_not_null1 NOT NULL,
    order_id uuid,
    customer_id uuid,
    seller_id uuid,
    payment_method character varying(50),
    amount numeric(15,2) CONSTRAINT payments_amount_not_null1 NOT NULL,
    transaction_id character varying(255),
    payment_status character varying(50),
    gateway_name character varying(100),
    gateway_response_code character varying(10),
    failure_reason_code character varying(50),
    paid_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.payments OWNER TO postgres;

--
-- Name: product_images; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_images (
    image_id uuid DEFAULT gen_random_uuid() CONSTRAINT product_images_image_id_not_null1 NOT NULL,
    product_id uuid,
    image_url text CONSTRAINT product_images_image_url_not_null1 NOT NULL,
    alt_text character varying(255),
    is_primary boolean DEFAULT false,
    sort_order integer DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.product_images OWNER TO postgres;

--
-- Name: product_variants; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.product_variants (
    variant_id uuid DEFAULT gen_random_uuid() CONSTRAINT product_variants_variant_id_not_null1 NOT NULL,
    product_id uuid,
    sku character varying(100) CONSTRAINT product_variants_sku_not_null1 NOT NULL,
    variant_name character varying(100),
    variant_value character varying(100),
    price numeric(15,2),
    stock_quantity integer DEFAULT 0,
    weight numeric(10,2),
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.product_variants OWNER TO postgres;

--
-- Name: products; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.products (
    product_id uuid DEFAULT gen_random_uuid() NOT NULL,
    category_id uuid,
    seller_id uuid,
    name character varying(255) CONSTRAINT products_name_not_null1 NOT NULL,
    description text,
    sku character varying(100) CONSTRAINT products_sku_not_null1 NOT NULL,
    price numeric(15,2) CONSTRAINT products_price_not_null1 NOT NULL,
    mrp numeric(15,2),
    stock_quantity integer DEFAULT 0,
    weight numeric(10,2),
    length numeric(10,2),
    breadth numeric(10,2),
    height numeric(10,2),
    brand character varying(255),
    is_active boolean DEFAULT true,
    deleted_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.products OWNER TO postgres;

--
-- Name: quarterly_finances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.quarterly_finances (
    quarterly_finance_id uuid DEFAULT gen_random_uuid() NOT NULL,
    monthly_finance_id uuid,
    seller_id uuid,
    quarter_number integer NOT NULL,
    year integer NOT NULL,
    half_yearly_finance_id uuid,
    total_revenue numeric(15,2) DEFAULT 0,
    platform_commission numeric(15,2) DEFAULT 0,
    net_seller_earnings numeric(15,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.quarterly_finances OWNER TO postgres;

--
-- Name: return_requests; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.return_requests (
    return_request_id uuid DEFAULT gen_random_uuid() CONSTRAINT return_requests_return_request_id_not_null1 NOT NULL,
    order_item_id uuid,
    customer_id uuid,
    order_id uuid,
    resolved_by_admin_id uuid,
    reason text,
    return_type character varying(50),
    refund_amount numeric(15,2),
    refund_status character varying(50),
    resolution_note text,
    requested_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    resolved_at timestamp without time zone
);


ALTER TABLE public.return_requests OWNER TO postgres;

--
-- Name: reverse_shipments; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reverse_shipments (
    reverse_id uuid DEFAULT gen_random_uuid() CONSTRAINT reverse_shipments_reverse_id_not_null1 NOT NULL,
    return_request_id uuid,
    order_item_id uuid,
    seller_id uuid,
    customer_id uuid,
    pickup_address_id uuid,
    dropoff_pickup_location_id uuid,
    shiprocket_reverse_order_id character varying(100),
    reverse_awb_code character varying(100),
    status character varying(100),
    initiated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    delivered_at timestamp without time zone
);


ALTER TABLE public.reverse_shipments OWNER TO postgres;

--
-- Name: reviews; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.reviews (
    review_id uuid DEFAULT gen_random_uuid() CONSTRAINT reviews_review_id_not_null1 NOT NULL,
    product_id uuid,
    customer_id uuid,
    order_item_id uuid,
    rating integer,
    title character varying(255),
    body text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    CONSTRAINT reviews_rating_check1 CHECK (((rating >= 1) AND (rating <= 5)))
);


ALTER TABLE public.reviews OWNER TO postgres;

--
-- Name: seller_commissions; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seller_commissions (
    commission_id uuid DEFAULT gen_random_uuid() CONSTRAINT seller_commissions_commission_id_not_null1 NOT NULL,
    order_item_id uuid,
    seller_id uuid,
    order_id uuid,
    sale_amount numeric(15,2) CONSTRAINT seller_commissions_sale_amount_not_null1 NOT NULL,
    commission_rate numeric(5,2),
    commission_amount numeric(15,2),
    seller_earnings numeric(15,2),
    status character varying(50) DEFAULT 'Pending'::character varying,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.seller_commissions OWNER TO postgres;

--
-- Name: seller_payouts; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seller_payouts (
    payout_id uuid DEFAULT gen_random_uuid() CONSTRAINT seller_payouts_payout_id_not_null1 NOT NULL,
    seller_id uuid,
    initiated_by_admin_id uuid,
    amount numeric(15,2) CONSTRAINT seller_payouts_amount_not_null1 NOT NULL,
    payment_method character varying(50),
    transaction_ref character varying(255),
    payout_period_start date,
    payout_period_end date,
    status character varying(50) DEFAULT 'Pending'::character varying,
    notes text,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    completed_at timestamp without time zone
);


ALTER TABLE public.seller_payouts OWNER TO postgres;

--
-- Name: seller_pickup_locations; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.seller_pickup_locations (
    pickup_id uuid DEFAULT gen_random_uuid() CONSTRAINT seller_pickup_locations_pickup_id_not_null1 NOT NULL,
    seller_id uuid,
    location_name character varying(255),
    contact_name character varying(255),
    contact_phone character varying(20),
    address_line_1 text,
    city character varying(100),
    state character varying(100),
    pincode character varying(20),
    shiprocket_location_id character varying(100),
    is_default boolean DEFAULT false,
    is_active boolean DEFAULT true,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.seller_pickup_locations OWNER TO postgres;

--
-- Name: sellers; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.sellers (
    seller_id uuid DEFAULT gen_random_uuid() CONSTRAINT sellers_seller_id_not_null1 NOT NULL,
    full_name character varying(255) CONSTRAINT sellers_full_name_not_null1 NOT NULL,
    email character varying(255) CONSTRAINT sellers_email_not_null1 NOT NULL,
    phone character varying(20),
    password_hash text CONSTRAINT sellers_password_hash_not_null1 NOT NULL,
    store_name character varying(255),
    gstin character varying(50),
    store_logo_url text,
    store_description text,
    is_verified boolean DEFAULT false,
    is_active boolean DEFAULT true,
    approved_by_admin_id uuid,
    deleted_at timestamp without time zone,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.sellers OWNER TO postgres;

--
-- Name: shiprocket_orders; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shiprocket_orders (
    sr_order_id uuid DEFAULT gen_random_uuid() CONSTRAINT shiprocket_orders_sr_order_id_not_null1 NOT NULL,
    order_id uuid,
    payment_id uuid,
    channel_order_id character varying(100),
    awb_code character varying(100),
    shipment_id character varying(100),
    courier_id character varying(100),
    courier_name character varying(100),
    pickup_location character varying(255),
    sr_status character varying(100),
    sr_status_code integer,
    sr_created_at timestamp without time zone,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.shiprocket_orders OWNER TO postgres;

--
-- Name: shiprocket_payload; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shiprocket_payload (
    payload_id uuid DEFAULT gen_random_uuid() CONSTRAINT shiprocket_payload_payload_id_not_null1 NOT NULL,
    sr_order_id uuid,
    product_id uuid,
    order_item_id uuid,
    product_name_snapshot character varying(255),
    sku_snapshot character varying(100),
    quantity integer,
    weight_kg numeric(10,3),
    length_cm numeric(10,2),
    breadth_cm numeric(10,2),
    height_cm numeric(10,2),
    unit_price numeric(15,2),
    total_price numeric(15,2),
    hsn_code character varying(50),
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.shiprocket_payload OWNER TO postgres;

--
-- Name: shiprocket_tracking; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shiprocket_tracking (
    tracking_id uuid DEFAULT gen_random_uuid() CONSTRAINT shiprocket_tracking_tracking_id_not_null1 NOT NULL,
    sr_order_id uuid,
    awb_code character varying(100),
    current_status character varying(100),
    current_location character varying(100),
    estimated_delivery date,
    activity_log jsonb,
    updated_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.shiprocket_tracking OWNER TO postgres;

--
-- Name: shiprocket_webhook_log; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.shiprocket_webhook_log (
    webhook_id uuid DEFAULT gen_random_uuid() CONSTRAINT shiprocket_webhook_log_webhook_id_not_null1 NOT NULL,
    sr_order_id uuid,
    event_type character varying(100),
    raw_payload jsonb,
    is_processed boolean DEFAULT false,
    error_message text,
    received_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP,
    processed_at timestamp without time zone
);


ALTER TABLE public.shiprocket_webhook_log OWNER TO postgres;

--
-- Name: weekly_finances; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.weekly_finances (
    weekly_finance_id uuid DEFAULT gen_random_uuid() NOT NULL,
    daily_finance_id uuid,
    seller_id uuid,
    week_number integer NOT NULL,
    year integer NOT NULL,
    total_revenue numeric(15,2) DEFAULT 0,
    platform_commission numeric(15,2) DEFAULT 0,
    net_seller_earnings numeric(15,2) DEFAULT 0,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.weekly_finances OWNER TO postgres;

--
-- Name: wishlist_items; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wishlist_items (
    wishlist_item_id uuid DEFAULT gen_random_uuid() NOT NULL,
    wishlist_id uuid,
    product_id uuid,
    added_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.wishlist_items OWNER TO postgres;

--
-- Name: wishlists; Type: TABLE; Schema: public; Owner: postgres
--

CREATE TABLE public.wishlists (
    wishlist_id uuid DEFAULT gen_random_uuid() CONSTRAINT wishlists_wishlist_id_not_null1 NOT NULL,
    customer_id uuid,
    created_at timestamp without time zone DEFAULT CURRENT_TIMESTAMP
);


ALTER TABLE public.wishlists OWNER TO postgres;

--
-- Name: addresses addresses_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_pkey1 PRIMARY KEY (address_id);


--
-- Name: admins admins_email_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_email_key1 UNIQUE (email);


--
-- Name: admins admins_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_pkey1 PRIMARY KEY (admin_id);


--
-- Name: annual_finances annual_finances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.annual_finances
    ADD CONSTRAINT annual_finances_pkey PRIMARY KEY (annual_finance_id);


--
-- Name: annual_finances annual_finances_seller_id_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.annual_finances
    ADD CONSTRAINT annual_finances_seller_id_year_key UNIQUE (seller_id, year);


--
-- Name: audit_logs audit_logs_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_pkey1 PRIMARY KEY (audit_id);


--
-- Name: auth_sessions auth_sessions_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.auth_sessions
    ADD CONSTRAINT auth_sessions_pkey1 PRIMARY KEY (session_id);


--
-- Name: bank_account bank_account_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bank_account
    ADD CONSTRAINT bank_account_pkey1 PRIMARY KEY (bank_account_id);


--
-- Name: cart_items cart_items_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_pkey1 PRIMARY KEY (cart_item_id);


--
-- Name: carts carts_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_pkey1 PRIMARY KEY (cart_id);


--
-- Name: categories categories_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_pkey1 PRIMARY KEY (category_id);


--
-- Name: categories categories_slug_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_slug_key1 UNIQUE (slug);


--
-- Name: coupon_usage coupon_usage_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_usage
    ADD CONSTRAINT coupon_usage_pkey1 PRIMARY KEY (usage_id);


--
-- Name: coupons coupons_code_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_code_key1 UNIQUE (code);


--
-- Name: coupons coupons_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_pkey1 PRIMARY KEY (coupon_id);


--
-- Name: customers customers_email_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_email_key1 UNIQUE (email);


--
-- Name: customers customers_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.customers
    ADD CONSTRAINT customers_pkey1 PRIMARY KEY (customer_id);


--
-- Name: daily_finances daily_finances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_finances
    ADD CONSTRAINT daily_finances_pkey PRIMARY KEY (daily_finance_id);


--
-- Name: daily_finances daily_finances_seller_id_date_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_finances
    ADD CONSTRAINT daily_finances_seller_id_date_key UNIQUE (seller_id, date);


--
-- Name: deliveries deliveries_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_pkey1 PRIMARY KEY (delivery_id);


--
-- Name: finance_transactions finance_transactions_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_transactions
    ADD CONSTRAINT finance_transactions_pkey PRIMARY KEY (finance_transaction_id);


--
-- Name: half_yearly_finances half_yearly_finances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.half_yearly_finances
    ADD CONSTRAINT half_yearly_finances_pkey PRIMARY KEY (half_yearly_finances_id);


--
-- Name: half_yearly_finances half_yearly_finances_seller_id_half_number_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.half_yearly_finances
    ADD CONSTRAINT half_yearly_finances_seller_id_half_number_year_key UNIQUE (seller_id, half_number, year);


--
-- Name: monthly_finances monthly_finances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monthly_finances
    ADD CONSTRAINT monthly_finances_pkey PRIMARY KEY (monthly_finance_id);


--
-- Name: monthly_finances monthly_finances_seller_id_month_number_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monthly_finances
    ADD CONSTRAINT monthly_finances_seller_id_month_number_year_key UNIQUE (seller_id, month_number, year);


--
-- Name: notifications notifications_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_pkey1 PRIMARY KEY (notification_id);


--
-- Name: order_coupons order_coupons_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_coupons
    ADD CONSTRAINT order_coupons_pkey1 PRIMARY KEY (order_coupon_id);


--
-- Name: order_items order_items_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_pkey1 PRIMARY KEY (order_item_id);


--
-- Name: order_sellers order_sellers_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sellers
    ADD CONSTRAINT order_sellers_pkey1 PRIMARY KEY (order_seller_id);


--
-- Name: order_status_history order_status_history_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_pkey1 PRIMARY KEY (history_id);


--
-- Name: orders orders_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_pkey1 PRIMARY KEY (order_id);


--
-- Name: otp_verifications otp_verifications_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.otp_verifications
    ADD CONSTRAINT otp_verifications_pkey1 PRIMARY KEY (otp_id);


--
-- Name: payments payments_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_pkey1 PRIMARY KEY (payment_id);


--
-- Name: payments payments_transaction_id_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_transaction_id_key1 UNIQUE (transaction_id);


--
-- Name: product_images product_images_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_pkey1 PRIMARY KEY (image_id);


--
-- Name: product_variants product_variants_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_pkey1 PRIMARY KEY (variant_id);


--
-- Name: product_variants product_variants_sku_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_sku_key1 UNIQUE (sku);


--
-- Name: products products_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_pkey1 PRIMARY KEY (product_id);


--
-- Name: products products_sku_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_sku_key1 UNIQUE (sku);


--
-- Name: quarterly_finances quarterly_finances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_finances
    ADD CONSTRAINT quarterly_finances_pkey PRIMARY KEY (quarterly_finance_id);


--
-- Name: quarterly_finances quarterly_finances_seller_id_quarter_number_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_finances
    ADD CONSTRAINT quarterly_finances_seller_id_quarter_number_year_key UNIQUE (seller_id, quarter_number, year);


--
-- Name: return_requests return_requests_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_requests
    ADD CONSTRAINT return_requests_pkey1 PRIMARY KEY (return_request_id);


--
-- Name: reverse_shipments reverse_shipments_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reverse_shipments
    ADD CONSTRAINT reverse_shipments_pkey1 PRIMARY KEY (reverse_id);


--
-- Name: reviews reviews_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_pkey1 PRIMARY KEY (review_id);


--
-- Name: seller_commissions seller_commissions_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_commissions
    ADD CONSTRAINT seller_commissions_pkey1 PRIMARY KEY (commission_id);


--
-- Name: seller_payouts seller_payouts_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_payouts
    ADD CONSTRAINT seller_payouts_pkey1 PRIMARY KEY (payout_id);


--
-- Name: seller_pickup_locations seller_pickup_locations_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_pickup_locations
    ADD CONSTRAINT seller_pickup_locations_pkey1 PRIMARY KEY (pickup_id);


--
-- Name: sellers sellers_email_key1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_email_key1 UNIQUE (email);


--
-- Name: sellers sellers_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_pkey1 PRIMARY KEY (seller_id);


--
-- Name: shiprocket_orders shiprocket_orders_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_orders
    ADD CONSTRAINT shiprocket_orders_pkey1 PRIMARY KEY (sr_order_id);


--
-- Name: shiprocket_payload shiprocket_payload_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_payload
    ADD CONSTRAINT shiprocket_payload_pkey1 PRIMARY KEY (payload_id);


--
-- Name: shiprocket_tracking shiprocket_tracking_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_tracking
    ADD CONSTRAINT shiprocket_tracking_pkey1 PRIMARY KEY (tracking_id);


--
-- Name: shiprocket_webhook_log shiprocket_webhook_log_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_webhook_log
    ADD CONSTRAINT shiprocket_webhook_log_pkey1 PRIMARY KEY (webhook_id);


--
-- Name: weekly_finances weekly_finances_pkey; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weekly_finances
    ADD CONSTRAINT weekly_finances_pkey PRIMARY KEY (weekly_finance_id);


--
-- Name: weekly_finances weekly_finances_seller_id_week_number_year_key; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weekly_finances
    ADD CONSTRAINT weekly_finances_seller_id_week_number_year_key UNIQUE (seller_id, week_number, year);


--
-- Name: wishlist_items wishlist_items_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT wishlist_items_pkey1 PRIMARY KEY (wishlist_item_id);


--
-- Name: wishlists wishlists_pkey1; Type: CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_pkey1 PRIMARY KEY (wishlist_id);


--
-- Name: idx_cart_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cart_customer ON public.carts USING btree (customer_id);


--
-- Name: idx_cart_items_cart; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_cart_items_cart ON public.cart_items USING btree (cart_id);


--
-- Name: idx_customers_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_email ON public.customers USING btree (email);


--
-- Name: idx_customers_phone; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_customers_phone ON public.customers USING btree (phone);


--
-- Name: idx_daily_fin_date; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_daily_fin_date ON public.daily_finances USING btree (date);


--
-- Name: idx_daily_fin_seller; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_daily_fin_seller ON public.daily_finances USING btree (seller_id);


--
-- Name: idx_finance_tx_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_finance_tx_order ON public.finance_transactions USING btree (order_id);


--
-- Name: idx_finance_tx_payment; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_finance_tx_payment ON public.finance_transactions USING btree (payment_id);


--
-- Name: idx_finance_tx_type; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_finance_tx_type ON public.finance_transactions USING btree (transaction_type);


--
-- Name: idx_notifications_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_notifications_customer ON public.notifications USING btree (customer_id);


--
-- Name: idx_order_items_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_order_items_order ON public.order_items USING btree (order_id);


--
-- Name: idx_orders_created_at; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_created_at ON public.orders USING btree (placed_at);


--
-- Name: idx_orders_customer; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_customer ON public.orders USING btree (customer_id);


--
-- Name: idx_orders_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_orders_status ON public.orders USING btree (order_status);


--
-- Name: idx_payments_order; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_order ON public.payments USING btree (order_id);


--
-- Name: idx_payments_status; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_payments_status ON public.payments USING btree (payment_status);


--
-- Name: idx_products_category; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_category ON public.products USING btree (category_id);


--
-- Name: idx_products_seller; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_seller ON public.products USING btree (seller_id);


--
-- Name: idx_products_sku; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_products_sku ON public.products USING btree (sku);


--
-- Name: idx_reviews_product; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_reviews_product ON public.reviews USING btree (product_id);


--
-- Name: idx_sellers_email; Type: INDEX; Schema: public; Owner: postgres
--

CREATE INDEX idx_sellers_email ON public.sellers USING btree (email);


--
-- Name: addresses addresses_customer_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.addresses
    ADD CONSTRAINT addresses_customer_id_fkey1 FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id) ON DELETE CASCADE;


--
-- Name: admins admins_created_by_admin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.admins
    ADD CONSTRAINT admins_created_by_admin_id_fkey1 FOREIGN KEY (created_by_admin_id) REFERENCES public.admins(admin_id);


--
-- Name: annual_finances annual_finances_half_yearly_finance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.annual_finances
    ADD CONSTRAINT annual_finances_half_yearly_finance_id_fkey FOREIGN KEY (half_yearly_finance_id) REFERENCES public.half_yearly_finances(half_yearly_finances_id);


--
-- Name: annual_finances annual_finances_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.annual_finances
    ADD CONSTRAINT annual_finances_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: audit_logs audit_logs_admin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.audit_logs
    ADD CONSTRAINT audit_logs_admin_id_fkey1 FOREIGN KEY (admin_id) REFERENCES public.admins(admin_id);


--
-- Name: bank_account bank_account_verified_by_admin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.bank_account
    ADD CONSTRAINT bank_account_verified_by_admin_id_fkey1 FOREIGN KEY (verified_by_admin_id) REFERENCES public.admins(admin_id);


--
-- Name: cart_items cart_items_cart_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_cart_id_fkey FOREIGN KEY (cart_id) REFERENCES public.carts(cart_id) ON DELETE CASCADE;


--
-- Name: cart_items cart_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: cart_items cart_items_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.cart_items
    ADD CONSTRAINT cart_items_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.product_variants(variant_id);


--
-- Name: carts carts_customer_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.carts
    ADD CONSTRAINT carts_customer_id_fkey1 FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id) ON DELETE CASCADE;


--
-- Name: categories categories_admin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_admin_id_fkey1 FOREIGN KEY (admin_id) REFERENCES public.admins(admin_id);


--
-- Name: categories categories_parent_category_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.categories
    ADD CONSTRAINT categories_parent_category_id_fkey1 FOREIGN KEY (parent_category_id) REFERENCES public.categories(category_id);


--
-- Name: coupon_usage coupon_usage_coupon_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_usage
    ADD CONSTRAINT coupon_usage_coupon_id_fkey1 FOREIGN KEY (coupon_id) REFERENCES public.coupons(coupon_id);


--
-- Name: coupon_usage coupon_usage_customer_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_usage
    ADD CONSTRAINT coupon_usage_customer_id_fkey1 FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: coupon_usage coupon_usage_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupon_usage
    ADD CONSTRAINT coupon_usage_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: coupons coupons_admin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.coupons
    ADD CONSTRAINT coupons_admin_id_fkey1 FOREIGN KEY (admin_id) REFERENCES public.admins(admin_id);


--
-- Name: daily_finances daily_finances_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_finances
    ADD CONSTRAINT daily_finances_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: deliveries deliveries_address_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_address_id_fkey1 FOREIGN KEY (address_id) REFERENCES public.addresses(address_id);


--
-- Name: deliveries deliveries_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: deliveries deliveries_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(order_item_id);


--
-- Name: deliveries deliveries_pickup_location_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_pickup_location_id_fkey1 FOREIGN KEY (pickup_location_id) REFERENCES public.seller_pickup_locations(pickup_id);


--
-- Name: deliveries deliveries_processed_webhook_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_processed_webhook_id_fkey1 FOREIGN KEY (processed_webhook_id) REFERENCES public.shiprocket_webhook_log(webhook_id);


--
-- Name: deliveries deliveries_seller_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.deliveries
    ADD CONSTRAINT deliveries_seller_id_fkey1 FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: finance_transactions finance_transactions_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_transactions
    ADD CONSTRAINT finance_transactions_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: finance_transactions finance_transactions_payment_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_transactions
    ADD CONSTRAINT finance_transactions_payment_id_fkey FOREIGN KEY (payment_id) REFERENCES public.payments(payment_id);


--
-- Name: finance_transactions finance_transactions_seller_payout_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.finance_transactions
    ADD CONSTRAINT finance_transactions_seller_payout_id_fkey FOREIGN KEY (seller_payout_id) REFERENCES public.seller_payouts(payout_id);


--
-- Name: daily_finances fk_daily_monthly; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_finances
    ADD CONSTRAINT fk_daily_monthly FOREIGN KEY (monthly_finance_id) REFERENCES public.monthly_finances(monthly_finance_id);


--
-- Name: daily_finances fk_daily_weekly; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.daily_finances
    ADD CONSTRAINT fk_daily_weekly FOREIGN KEY (weekly_finance_id) REFERENCES public.weekly_finances(weekly_finance_id);


--
-- Name: half_yearly_finances fk_half_annual; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.half_yearly_finances
    ADD CONSTRAINT fk_half_annual FOREIGN KEY (annual_finance_id) REFERENCES public.annual_finances(annual_finance_id);


--
-- Name: monthly_finances fk_monthly_quarterly; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monthly_finances
    ADD CONSTRAINT fk_monthly_quarterly FOREIGN KEY (quarterly_finance_id) REFERENCES public.quarterly_finances(quarterly_finance_id);


--
-- Name: quarterly_finances fk_quarterly_half; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_finances
    ADD CONSTRAINT fk_quarterly_half FOREIGN KEY (half_yearly_finance_id) REFERENCES public.half_yearly_finances(half_yearly_finances_id);


--
-- Name: half_yearly_finances half_yearly_finances_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.half_yearly_finances
    ADD CONSTRAINT half_yearly_finances_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: monthly_finances monthly_finances_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.monthly_finances
    ADD CONSTRAINT monthly_finances_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: notifications notifications_customer_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_customer_id_fkey1 FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: notifications notifications_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: notifications notifications_seller_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.notifications
    ADD CONSTRAINT notifications_seller_id_fkey1 FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: order_coupons order_coupons_coupon_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_coupons
    ADD CONSTRAINT order_coupons_coupon_id_fkey1 FOREIGN KEY (coupon_id) REFERENCES public.coupons(coupon_id);


--
-- Name: order_coupons order_coupons_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_coupons
    ADD CONSTRAINT order_coupons_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: order_items order_items_order_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_order_id_fkey1 FOREIGN KEY (order_id) REFERENCES public.orders(order_id) ON DELETE CASCADE;


--
-- Name: order_items order_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: order_items order_items_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: order_items order_items_variant_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_items
    ADD CONSTRAINT order_items_variant_id_fkey FOREIGN KEY (variant_id) REFERENCES public.product_variants(variant_id);


--
-- Name: order_sellers order_sellers_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sellers
    ADD CONSTRAINT order_sellers_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: order_sellers order_sellers_seller_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_sellers
    ADD CONSTRAINT order_sellers_seller_id_fkey1 FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: order_status_history order_status_history_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.order_status_history
    ADD CONSTRAINT order_status_history_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: orders orders_address_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_address_id_fkey FOREIGN KEY (address_id) REFERENCES public.addresses(address_id);


--
-- Name: orders orders_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.orders
    ADD CONSTRAINT orders_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: payments payments_customer_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_customer_id_fkey1 FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: payments payments_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: payments payments_seller_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.payments
    ADD CONSTRAINT payments_seller_id_fkey1 FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: product_images product_images_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_images
    ADD CONSTRAINT product_images_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE CASCADE;


--
-- Name: product_variants product_variants_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.product_variants
    ADD CONSTRAINT product_variants_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id) ON DELETE CASCADE;


--
-- Name: products products_category_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_category_id_fkey FOREIGN KEY (category_id) REFERENCES public.categories(category_id);


--
-- Name: products products_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.products
    ADD CONSTRAINT products_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: quarterly_finances quarterly_finances_monthly_finance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_finances
    ADD CONSTRAINT quarterly_finances_monthly_finance_id_fkey FOREIGN KEY (monthly_finance_id) REFERENCES public.monthly_finances(monthly_finance_id);


--
-- Name: quarterly_finances quarterly_finances_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.quarterly_finances
    ADD CONSTRAINT quarterly_finances_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: return_requests return_requests_customer_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_requests
    ADD CONSTRAINT return_requests_customer_id_fkey1 FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: return_requests return_requests_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_requests
    ADD CONSTRAINT return_requests_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: return_requests return_requests_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_requests
    ADD CONSTRAINT return_requests_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(order_item_id);


--
-- Name: return_requests return_requests_resolved_by_admin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.return_requests
    ADD CONSTRAINT return_requests_resolved_by_admin_id_fkey1 FOREIGN KEY (resolved_by_admin_id) REFERENCES public.admins(admin_id);


--
-- Name: reverse_shipments reverse_shipments_customer_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reverse_shipments
    ADD CONSTRAINT reverse_shipments_customer_id_fkey1 FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: reverse_shipments reverse_shipments_dropoff_pickup_location_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reverse_shipments
    ADD CONSTRAINT reverse_shipments_dropoff_pickup_location_id_fkey1 FOREIGN KEY (dropoff_pickup_location_id) REFERENCES public.seller_pickup_locations(pickup_id);


--
-- Name: reverse_shipments reverse_shipments_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reverse_shipments
    ADD CONSTRAINT reverse_shipments_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(order_item_id);


--
-- Name: reverse_shipments reverse_shipments_pickup_address_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reverse_shipments
    ADD CONSTRAINT reverse_shipments_pickup_address_id_fkey1 FOREIGN KEY (pickup_address_id) REFERENCES public.addresses(address_id);


--
-- Name: reverse_shipments reverse_shipments_return_request_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reverse_shipments
    ADD CONSTRAINT reverse_shipments_return_request_id_fkey1 FOREIGN KEY (return_request_id) REFERENCES public.return_requests(return_request_id);


--
-- Name: reverse_shipments reverse_shipments_seller_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reverse_shipments
    ADD CONSTRAINT reverse_shipments_seller_id_fkey1 FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: reviews reviews_customer_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_customer_id_fkey FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id);


--
-- Name: reviews reviews_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(order_item_id);


--
-- Name: reviews reviews_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.reviews
    ADD CONSTRAINT reviews_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: seller_commissions seller_commissions_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_commissions
    ADD CONSTRAINT seller_commissions_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: seller_commissions seller_commissions_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_commissions
    ADD CONSTRAINT seller_commissions_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(order_item_id);


--
-- Name: seller_commissions seller_commissions_seller_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_commissions
    ADD CONSTRAINT seller_commissions_seller_id_fkey1 FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: seller_payouts seller_payouts_initiated_by_admin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_payouts
    ADD CONSTRAINT seller_payouts_initiated_by_admin_id_fkey1 FOREIGN KEY (initiated_by_admin_id) REFERENCES public.admins(admin_id);


--
-- Name: seller_payouts seller_payouts_seller_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_payouts
    ADD CONSTRAINT seller_payouts_seller_id_fkey1 FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: seller_pickup_locations seller_pickup_locations_seller_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.seller_pickup_locations
    ADD CONSTRAINT seller_pickup_locations_seller_id_fkey1 FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id) ON DELETE CASCADE;


--
-- Name: sellers sellers_approved_by_admin_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.sellers
    ADD CONSTRAINT sellers_approved_by_admin_id_fkey1 FOREIGN KEY (approved_by_admin_id) REFERENCES public.admins(admin_id);


--
-- Name: shiprocket_orders shiprocket_orders_order_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_orders
    ADD CONSTRAINT shiprocket_orders_order_id_fkey FOREIGN KEY (order_id) REFERENCES public.orders(order_id);


--
-- Name: shiprocket_orders shiprocket_orders_payment_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_orders
    ADD CONSTRAINT shiprocket_orders_payment_id_fkey1 FOREIGN KEY (payment_id) REFERENCES public.payments(payment_id);


--
-- Name: shiprocket_payload shiprocket_payload_order_item_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_payload
    ADD CONSTRAINT shiprocket_payload_order_item_id_fkey FOREIGN KEY (order_item_id) REFERENCES public.order_items(order_item_id);


--
-- Name: shiprocket_payload shiprocket_payload_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_payload
    ADD CONSTRAINT shiprocket_payload_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: shiprocket_payload shiprocket_payload_sr_order_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_payload
    ADD CONSTRAINT shiprocket_payload_sr_order_id_fkey1 FOREIGN KEY (sr_order_id) REFERENCES public.shiprocket_orders(sr_order_id);


--
-- Name: shiprocket_tracking shiprocket_tracking_sr_order_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_tracking
    ADD CONSTRAINT shiprocket_tracking_sr_order_id_fkey1 FOREIGN KEY (sr_order_id) REFERENCES public.shiprocket_orders(sr_order_id);


--
-- Name: shiprocket_webhook_log shiprocket_webhook_log_sr_order_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.shiprocket_webhook_log
    ADD CONSTRAINT shiprocket_webhook_log_sr_order_id_fkey1 FOREIGN KEY (sr_order_id) REFERENCES public.shiprocket_orders(sr_order_id);


--
-- Name: weekly_finances weekly_finances_daily_finance_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weekly_finances
    ADD CONSTRAINT weekly_finances_daily_finance_id_fkey FOREIGN KEY (daily_finance_id) REFERENCES public.daily_finances(daily_finance_id);


--
-- Name: weekly_finances weekly_finances_seller_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.weekly_finances
    ADD CONSTRAINT weekly_finances_seller_id_fkey FOREIGN KEY (seller_id) REFERENCES public.sellers(seller_id);


--
-- Name: wishlist_items wishlist_items_product_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT wishlist_items_product_id_fkey FOREIGN KEY (product_id) REFERENCES public.products(product_id);


--
-- Name: wishlist_items wishlist_items_wishlist_id_fkey; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlist_items
    ADD CONSTRAINT wishlist_items_wishlist_id_fkey FOREIGN KEY (wishlist_id) REFERENCES public.wishlists(wishlist_id) ON DELETE CASCADE;


--
-- Name: wishlists wishlists_customer_id_fkey1; Type: FK CONSTRAINT; Schema: public; Owner: postgres
--

ALTER TABLE ONLY public.wishlists
    ADD CONSTRAINT wishlists_customer_id_fkey1 FOREIGN KEY (customer_id) REFERENCES public.customers(customer_id) ON DELETE CASCADE;


--
-- PostgreSQL database dump complete
--

\unrestrict TyJxFTSFkcelx7jL6aO0LgLNyi4cmuMDiCft1GibJDVzmfJULecGgLLFl1AhGgu

